.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article_title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 45px;
}



.text {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;

  p, span, div, strong, em, b, i, a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
