.acceptioncard{
    height: 440px;
    width: 600px;
    border-radius: 40px;
    background-color: white;
    font-family: 'Rubik';
    font-size: 24px;
}
.codeInput{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    /* border-style: solid;
    border-width: 3px;
    border-color: #000000; */
    outline: none;
    border: 3px solid #000000;
    border-radius: 8px;
    font-size: 32px;
    height: 40px;
    width: 30px;
    text-transform:"uppercase";
    text-align: center;
}
.codeInput:focus{
    border-color: #6666FF;
    outline: #6666FF ;
}
.btnSubmission{
    height: 60px;
    width: 240px;
    margin: 20px;
    border-radius: 36px;
    border: 0px;
    color: white;
    background-color: #6666FF;
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    cursor: pointer;
}