.container {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 900;
  font-size: 18px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 1;
}

.tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
